<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register_servlet</servlet-name>
        <servlet-class>CE2_Packages.register_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>CE2_Packages.login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_servlet</servlet-name>
        <servlet-class>CE2_Packages.Login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editEventServlet</servlet-name>
        <servlet-class>CE2_Packages.editEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEventServlet</servlet-name>
        <servlet-class>CE2_Packages.updateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerEventServlet</servlet-name>
        <servlet-class>CE2_Packages.registerEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>CE2_Packages.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register_servlet</servlet-name>
        <url-pattern>/register_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_servlet</servlet-name>
        <url-pattern>/Login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editEventServlet</servlet-name>
        <url-pattern>/editEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEventServlet</servlet-name>
        <url-pattern>/updateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerEventServlet</servlet-name>
        <url-pattern>/registerEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
